USE [WarehouseManagement]
GO
/****** Object:  Trigger [Triger_Wh_Ut]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP TRIGGER [dbo].[Triger_Wh_Ut]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [FK_WareHouseLimits_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [FK_WareHouseLimits_PK_WareHouse]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [FK_WareHouseLimits_PK_Unit]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [FK_WareHouseItemUnits_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [FK_WareHouseItemUnits_PK_Unit]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [FK_WareHouseItemCategories_PK_Parent]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [FK_WareHouseItems_PK_WareHouseItemCategory]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [FK_WareHouseItems_PK_Vendor]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [FK_WareHouseItems_PK_Unit]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [FK_SerialWareHouses_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [FK_SerialWareHouses_PK_OutwardDetail]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [FK_SerialWareHouses_PK_InwardDetail]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [FK_OutwardDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [FK_OutwardDetails_PK_Unit]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [FK_OutwardDetails_PK_Outward]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [FK_Warehouse_Outwards_PK_WareHouse]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [FK_ToWareHouse_Outwards_PK_ToWareHouse]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [FK_InwardDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [FK_InwardDetails_PK_Unit]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [FK_InwardDetails_PK_Inward]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [FK_WareHouseInwards_PK_WareHouse]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [FK_WareHouseInwards_PK_Vendor]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [FK_BeginningWareHouses_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [FK_BeginningWareHouses_PK_WareHouse]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [FK_BeginningWareHouses_PK_Unit]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [FK_AuditDetailSerials_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [FK_AuditDetailSerials_PK_AuditDetail]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [FK_AuditDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [FK_AuditDetails_PK_Audit]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [FK_AuditCouncils_PK_Audit]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [FK_Audits_PK_WareHouse]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF_WareHouseLimit_OnDelete]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__Modif__671F4F74]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__Modif__662B2B3B]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__Creat__65370702]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__Creat__6442E2C9]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__MaxQu__634EBE90]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__MinQu__625A9A57]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__UnitN__6166761E]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__UnitI__607251E5]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__ItemI__5F7E2DAC]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouse__WareH__5E8A0973]
GO
ALTER TABLE [dbo].[WareHouseLimit] DROP CONSTRAINT [DF__WareHouseLim__Id__5D95E53A]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [DF_WareHouseItemUnit_OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [DF__WareHouse__IsPri__5BAD9CC8]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [DF__WareHouse__UnitI__5AB9788F]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [DF__WareHouse__ItemI__59C55456]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] DROP CONSTRAINT [DF__WareHouseIte__Id__58D1301D]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF_WareHouseItemCategory_OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouse__Inact__56E8E7AB]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouse__Descr__55F4C372]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouseI__Path__55009F39]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouse__Paren__540C7B00]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouseI__Name__531856C7]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouseI__Code__5224328E]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] DROP CONSTRAINT [DF__WareHouseIte__Id__51300E55]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF_WareHouseItem_OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouse__Inact__4F47C5E3]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouse__UnitI__4E53A1AA]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouse__Vendo__4D5F7D71]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouse__Vendo__4C6B5938]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouse__Categ__4B7734FF]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouseI__Code__4A8310C6]
GO
ALTER TABLE [dbo].[WareHouseItem] DROP CONSTRAINT [DF__WareHouseIte__Id__498EEC8D]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF_WarehouseBalance_OnDelete]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF__Warehouse__Amoun__47A6A41B]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF__Warehouse__Quant__46B27FE2]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF__Warehouse__Wareh__45BE5BA9]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF__Warehouse__ItemI__44CA3770]
GO
ALTER TABLE [dbo].[WarehouseBalance] DROP CONSTRAINT [DF__WarehouseBal__Id__43D61337]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF_WareHouse_OnDelete]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Inact__41EDCAC5]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Path__40F9A68C]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Paren__40058253]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Descr__3F115E1A]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Addre__3E1D39E1]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Name__3D2915A8]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Code__3C34F16F]
GO
ALTER TABLE [dbo].[WareHouse] DROP CONSTRAINT [DF__WareHouse__Id__3B40CD36]
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [DF_Vendor_OnDelete]
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [DF__Vendor__Email__395884C4]
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [DF__Vendor__Phone__3864608B]
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [DF__Vendor__Code__37703C52]
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [DF__Vendor__Id__367C1819]
GO
ALTER TABLE [dbo].[Unit] DROP CONSTRAINT [DF_Unit_OnDelete]
GO
ALTER TABLE [dbo].[Unit] DROP CONSTRAINT [DF__Unit__UnitName__3493CFA7]
GO
ALTER TABLE [dbo].[Unit] DROP CONSTRAINT [DF__Unit__Id__339FAB6E]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF_SerialWareHouse_OnDelete]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWar__IsOve__31B762FC]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWar__Outwa__30C33EC3]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWar__Inwar__2FCF1A8A]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWar__Seria__2EDAF651]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWar__ItemI__2DE6D218]
GO
ALTER TABLE [dbo].[SerialWareHouse] DROP CONSTRAINT [DF__SerialWareHo__Id__2CF2ADDF]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF_OutwardDetail_OnDelete]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Custo__2B0A656D]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Custo__2A164134]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Proje__29221CFB]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Proje__282DF8C2]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Stati__2739D489]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Stati__2645B050]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Emplo__25518C17]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Emplo__245D67DE]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Depar__236943A5]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Depar__22751F6C]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Price__2180FB33]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Quant__208CD6FA]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Amoun__1F98B2C1]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__UIPri__1EA48E88]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__UIQua__1DB06A4F]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__UnitI__1CBC4616]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__ItemI__1BC821DD]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDe__Outwa__1AD3FDA4]
GO
ALTER TABLE [dbo].[OutwardDetail] DROP CONSTRAINT [DF__OutwardDetai__Id__19DFD96B]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF_Outward_OnDelete]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Modifie__17F790F9]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Modifie__17036CC0]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Created__160F4887]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Created__151B244E]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Referen__14270015]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Descrip__1332DBDC]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__ReasonD__123EB7A3]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Receive__114A936A]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Deliver__10566F31]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__ToWareH__0F624AF8]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__WareHou__0E6E26BF]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Voucher__0D7A0286]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Voucher__0C85DE4D]
GO
ALTER TABLE [dbo].[Outward] DROP CONSTRAINT [DF__Outward__Id__0B91BA14]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF_InwardDetail_OnDelete]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Custo__09A971A2]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Custo__08B54D69]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Proje__07C12930]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Proje__06CD04F7]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Stati__05D8E0BE]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Stati__04E4BC85]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Emplo__03F0984C]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Emplo__02FC7413]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Depar__02084FDA]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Depar__01142BA1]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Price__00200768]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Quant__7F2BE32F]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Amoun__7E37BEF6]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__UIPri__7D439ABD]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__UIQua__7C4F7684]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__UnitI__7B5B524B]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__ItemI__7A672E12]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDet__Inwar__797309D9]
GO
ALTER TABLE [dbo].[InwardDetail] DROP CONSTRAINT [DF__InwardDetail__Id__787EE5A0]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF_Inward_OnDelete]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Modified__76969D2E]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Modified__75A278F5]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__CreatedB__74AE54BC]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__CreatedD__73BA3083]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Referenc__72C60C4A]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Descript__71D1E811]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__ReasonDe__70DDC3D8]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__VendorId__6FE99F9F]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Receiver__6EF57B66]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Deliver__6E01572D]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__WareHous__6D0D32F4]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__VoucherD__6C190EBB]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__VoucherC__6B24EA82]
GO
ALTER TABLE [dbo].[Inward] DROP CONSTRAINT [DF__Inward__Id__6A30C649]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF_BeginningWareHouse_OnDelete]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__Modif__68487DD7]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__Modif__6754599E]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__Creat__66603565]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__Creat__656C112C]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__Quant__6477ECF3]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__UnitN__6383C8BA]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__UnitI__628FA481]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__ItemI__619B8048]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__Beginning__WareH__60A75C0F]
GO
ALTER TABLE [dbo].[BeginningWareHouse] DROP CONSTRAINT [DF__BeginningWar__Id__5FB337D6]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [DF_AuditDetailSerial_OnDelete]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [DF__AuditDeta__Audit__5DCAEF64]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [DF__AuditDeta__Seria__5CD6CB2B]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [DF__AuditDeta__ItemI__5BE2A6F2]
GO
ALTER TABLE [dbo].[AuditDetailSerial] DROP CONSTRAINT [DF__AuditDetailS__Id__5AEE82B9]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF_AuditDetail_OnDelete]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDeta__Concl__59063A47]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDeta__Audit__5812160E]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDeta__Quant__571DF1D5]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDeta__ItemI__5629CD9C]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDeta__Audit__5535A963]
GO
ALTER TABLE [dbo].[AuditDetail] DROP CONSTRAINT [DF__AuditDetail__Id__5441852A]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF_AuditCouncil_OnDelete]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF__AuditCounc__Role__52593CB8]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF__AuditCoun__Emplo__5165187F]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF__AuditCoun__Emplo__5070F446]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF__AuditCoun__Audit__4F7CD00D]
GO
ALTER TABLE [dbo].[AuditCouncil] DROP CONSTRAINT [DF__AuditCouncil__Id__4E88ABD4]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF_Audit_OnDelete]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__ModifiedB__4CA06362]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__ModifiedD__4BAC3F29]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__CreatedBy__4AB81AF0]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__CreatedDa__49C3F6B7]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__Descripti__48CFD27E]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__VoucherDa__47DBAE45]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__VoucherCo__46E78A0C]
GO
ALTER TABLE [dbo].[Audit] DROP CONSTRAINT [DF__Audit__Id__45F365D3]
GO
/****** Object:  Table [dbo].[WareHouseLimit]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WareHouseLimit]') AND type in (N'U'))
DROP TABLE [dbo].[WareHouseLimit]
GO
/****** Object:  Table [dbo].[WareHouseItemUnit]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WareHouseItemUnit]') AND type in (N'U'))
DROP TABLE [dbo].[WareHouseItemUnit]
GO
/****** Object:  Table [dbo].[WareHouseItemCategory]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WareHouseItemCategory]') AND type in (N'U'))
DROP TABLE [dbo].[WareHouseItemCategory]
GO
/****** Object:  Table [dbo].[WareHouseItem]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WareHouseItem]') AND type in (N'U'))
DROP TABLE [dbo].[WareHouseItem]
GO
/****** Object:  Table [dbo].[WarehouseBalance]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WarehouseBalance]') AND type in (N'U'))
DROP TABLE [dbo].[WarehouseBalance]
GO
/****** Object:  Table [dbo].[WareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WareHouse]') AND type in (N'U'))
DROP TABLE [dbo].[WareHouse]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vendor]') AND type in (N'U'))
DROP TABLE [dbo].[Vendor]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Unit]') AND type in (N'U'))
DROP TABLE [dbo].[Unit]
GO
/****** Object:  Table [dbo].[SerialWareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SerialWareHouse]') AND type in (N'U'))
DROP TABLE [dbo].[SerialWareHouse]
GO
/****** Object:  Table [dbo].[AuditDetailSerial]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditDetailSerial]') AND type in (N'U'))
DROP TABLE [dbo].[AuditDetailSerial]
GO
/****** Object:  Table [dbo].[AuditDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditDetail]') AND type in (N'U'))
DROP TABLE [dbo].[AuditDetail]
GO
/****** Object:  Table [dbo].[AuditCouncil]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditCouncil]') AND type in (N'U'))
DROP TABLE [dbo].[AuditCouncil]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Audit]') AND type in (N'U'))
DROP TABLE [dbo].[Audit]
GO
/****** Object:  View [dbo].[vWareHouseLedger]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP VIEW [dbo].[vWareHouseLedger]
GO
/****** Object:  Table [dbo].[OutwardDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutwardDetail]') AND type in (N'U'))
DROP TABLE [dbo].[OutwardDetail]
GO
/****** Object:  Table [dbo].[Outward]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Outward]') AND type in (N'U'))
DROP TABLE [dbo].[Outward]
GO
/****** Object:  Table [dbo].[InwardDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InwardDetail]') AND type in (N'U'))
DROP TABLE [dbo].[InwardDetail]
GO
/****** Object:  Table [dbo].[Inward]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inward]') AND type in (N'U'))
DROP TABLE [dbo].[Inward]
GO
/****** Object:  Table [dbo].[BeginningWareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BeginningWareHouse]') AND type in (N'U'))
DROP TABLE [dbo].[BeginningWareHouse]
GO
/****** Object:  FullTextCatalog [FullText]    Script Date: 7/18/2022 8:42:31 AM ******/
GO
DROP FULLTEXT CATALOG [FullText]
GO
USE [master]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP LOGIN [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP LOGIN [NT AUTHORITY\NETWORK SERVICE]
GO
/****** Object:  Login [BUILTIN\Administrators]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP LOGIN [BUILTIN\Administrators]
GO
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP LOGIN [##MS_PolicyTsqlExecutionLogin##]
GO
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 7/18/2022 8:42:31 AM ******/
DROP LOGIN [##MS_PolicyEventProcessingLogin##]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'QJJiXwRDRIAjcueAkmKeJ+9W3+i5ffJjvlI8ax/f4qw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'0xw/ETr6Nwl67m03Kp+PJg22DAScTP56fO7JHbqOSrk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [BUILTIN\Administrators]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE LOGIN [BUILTIN\Administrators] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE LOGIN [NT AUTHORITY\NETWORK SERVICE] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [BUILTIN\Administrators]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
USE [WarehouseManagement]
GO
/****** Object:  FullTextCatalog [FullText]    Script Date: 7/18/2022 8:42:31 AM ******/
CREATE FULLTEXT CATALOG [FullText] 
GO
/****** Object:  Table [dbo].[BeginningWareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeginningWareHouse](
	[Id] [varchar](36) NOT NULL,
	[WareHouseId] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[UnitId] [varchar](36) NOT NULL,
	[UnitName] [nvarchar](255) NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inward]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inward](
	[Id] [varchar](36) NOT NULL,
	[VoucherCode] [varchar](255) NULL,
	[VoucherDate] [datetime2](0) NOT NULL,
	[WareHouseID] [varchar](36) NOT NULL,
	[Deliver] [nvarchar](255) NULL,
	[Receiver] [nvarchar](255) NULL,
	[VendorId] [varchar](36) NULL,
	[Reason] [nvarchar](255) NULL,
	[ReasonDescription] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Reference] [varchar](255) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
	[DeliverPhone] [varchar](50) NULL,
	[DeliverAddress] [nvarchar](50) NULL,
	[DeliverDepartment] [nvarchar](50) NULL,
	[ReceiverPhone] [varchar](50) NULL,
	[ReceiverAddress] [nvarchar](50) NULL,
	[ReceiverDepartment] [nvarchar](50) NULL,
	[Voucher] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InwardDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InwardDetail](
	[Id] [varchar](36) NOT NULL,
	[InwardId] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[UnitId] [varchar](36) NOT NULL,
	[UIQuantity] [decimal](15, 2) NOT NULL,
	[UIPrice] [decimal](15, 2) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[DepartmentId] [varchar](36) NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[EmployeeId] [varchar](36) NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[StationId] [varchar](36) NULL,
	[StationName] [nvarchar](255) NULL,
	[ProjectId] [varchar](36) NULL,
	[ProjectName] [nvarchar](255) NULL,
	[CustomerId] [varchar](36) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[OnDelete] [bit] NOT NULL,
	[AccountMore] [varchar](255) NULL,
	[AccountYes] [varchar](255) NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outward]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outward](
	[Id] [varchar](36) NOT NULL,
	[VoucherCode] [varchar](255) NULL,
	[VoucherDate] [datetime2](0) NOT NULL,
	[WareHouseID] [varchar](36) NOT NULL,
	[ToWareHouseId] [varchar](36) NULL,
	[Deliver] [nvarchar](255) NULL,
	[Receiver] [nvarchar](255) NULL,
	[Reason] [nvarchar](255) NULL,
	[ReasonDescription] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Reference] [varchar](255) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
	[ReceiverDepartment] [nvarchar](50) NULL,
	[ReceiverAddress] [nvarchar](50) NULL,
	[ReceiverPhone] [varchar](50) NULL,
	[DeliverDepartment] [nvarchar](50) NULL,
	[DeliverAddress] [nvarchar](50) NULL,
	[DeliverPhone] [varchar](50) NULL,
	[Voucher] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutwardDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutwardDetail](
	[Id] [varchar](36) NOT NULL,
	[OutwardId] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[UnitId] [varchar](36) NOT NULL,
	[UIQuantity] [decimal](15, 2) NOT NULL,
	[UIPrice] [decimal](15, 2) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[DepartmentId] [varchar](36) NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[EmployeeId] [varchar](36) NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[StationId] [varchar](36) NULL,
	[StationName] [nvarchar](255) NULL,
	[ProjectId] [varchar](36) NULL,
	[ProjectName] [nvarchar](255) NULL,
	[CustomerId] [varchar](36) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[OnDelete] [bit] NOT NULL,
	[AccountMore] [nvarchar](255) NULL,
	[AccountYes] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vWareHouseLedger]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE VIEW [dbo].[vWareHouseLedger]
AS
SELECT
  bwh.Id AS Id,
  bwh.WareHouseId AS WareHouseId,
  bwh.ItemId AS ItemId,
  bwh.UnitId AS UnitId,
  bwh.Quantity AS Quantity,
  'DDK' AS VoucherCode,
  CAST('1970-1-1' AS date) AS VoucherDate,
  NULL AS DepartmentId,
  NULL AS DepartmentName,
  NULL AS StationId,
  NULL AS StationName,
  NULL AS CustomerId,
  NULL AS CustomerName,
  NULL AS ProjectId,
  NULL AS ProjectName,
  NULL AS EmployeeId,
  NULL AS EmployeeName
FROM BeginningWareHouse bwh where bwh.OnDelete=0
UNION ALL
SELECT DISTINCT
  id.Id AS id,
  i.WareHouseID AS WareHouseId,
  id.ItemId AS ItemId,
  id.UnitId AS UnitId,
  id.Quantity AS Quantity,
  i.VoucherCode AS VoucherCode,
  i.VoucherDate AS VoucherDate,
  id.DepartmentId AS DepartmentId,
  id.DepartmentName AS DepartmentName,
  id.StationId AS StationId,
  id.StationName AS StationName,
  id.CustomerId AS CustomerId,
  id.CustomerName AS CustomerName,
  id.ProjectId AS ProjectId,
  id.ProjectName AS ProjectName,
  id.EmployeeId AS EmployeeId,
  id.EmployeeName AS EmployeeName
FROM (Inward i
  JOIN InwardDetail id
    ON ((i.Id = id.InwardId and i.OnDelete=0 and id.OnDelete=0)))
UNION ALL
SELECT DISTINCT
  od.Id AS Id,
  o.WareHouseID AS WareHouseId,
  od.ItemId AS ItemId,
  od.UnitId AS UnitId,
  -(od.Quantity) AS Quantity,
  o.VoucherCode AS VoucherCode,
  o.VoucherDate AS VoucherDate,
  od.DepartmentId AS DepartmentId,
  od.DepartmentName AS DepartmentName,
  od.StationId AS StationId,
  od.StationName AS StationName,
  od.CustomerId AS CustomerId,
  od.CustomerName AS CustomerName,
  od.ProjectId AS ProjectId,
  od.ProjectName AS ProjectName,
  od.EmployeeId AS EmployeeId,
  od.EmployeeName AS EmployeeName
FROM (Outward o
  JOIN OutwardDetail od
    ON ((o.Id = od.OutwardId and o.OnDelete=0 and od.OnDelete=0)));
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[Id] [varchar](36) NOT NULL,
	[VoucherCode] [varchar](20) NOT NULL,
	[VoucherDate] [datetime2](0) NOT NULL,
	[WareHouseId] [varchar](36) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditCouncil]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditCouncil](
	[Id] [varchar](36) NOT NULL,
	[AuditId] [varchar](36) NOT NULL,
	[EmployeeId] [varchar](36) NULL,
	[EmployeeName] [varchar](100) NULL,
	[Role] [varchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditDetail]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditDetail](
	[Id] [varchar](36) NOT NULL,
	[AuditId] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[AuditQuantity] [decimal](15, 2) NOT NULL,
	[Conclude] [varchar](255) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditDetailSerial]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditDetailSerial](
	[Id] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[Serial] [varchar](50) NOT NULL,
	[AuditDetailId] [varchar](36) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SerialWareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SerialWareHouse](
	[Id] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[Serial] [varchar](50) NOT NULL,
	[InwardDetailId] [varchar](36) NULL,
	[OutwardDetailId] [varchar](36) NULL,
	[IsOver] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [varchar](36) NOT NULL,
	[UnitName] [nvarchar](255) NULL,
	[Inactive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [varchar](36) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[Inactive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouse]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouse](
	[Id] [varchar](36) NOT NULL,
	[Code] [varchar](255) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[ParentId] [varchar](36) NULL,
	[Path] [varchar](255) NULL,
	[Inactive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseBalance]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseBalance](
	[Id] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[WarehouseId] [varchar](36) NOT NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouseItem]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouseItem](
	[Id] [varchar](36) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CategoryID] [varchar](36) NULL,
	[Description] [nvarchar](50) NULL,
	[VendorID] [varchar](36) NULL,
	[VendorName] [varchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[UnitId] [varchar](36) NOT NULL,
	[Inactive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouseItemCategory]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouseItemCategory](
	[Id] [varchar](36) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [varchar](36) NULL,
	[Path] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[Inactive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouseItemUnit]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouseItemUnit](
	[Id] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[UnitId] [varchar](36) NOT NULL,
	[ConvertRate] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouseLimit]    Script Date: 7/18/2022 8:42:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouseLimit](
	[Id] [varchar](36) NOT NULL,
	[WareHouseId] [varchar](36) NOT NULL,
	[ItemId] [varchar](36) NOT NULL,
	[UnitId] [varchar](36) NOT NULL,
	[UnitName] [varchar](255) NULL,
	[MinQuantity] [int] NOT NULL,
	[MaxQuantity] [int] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [varchar](100) NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Audit] ([Id], [VoucherCode], [VoucherDate], [WareHouseId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'3dad0c93-4546-45d0-b7ea-3027b72a60e1', N'ee', CAST(N'2021-10-12T17:00:00.0000000' AS DateTime2), N'84fd821c-2984-470b-8c1b-5123f7ddbd10', N'qqq', CAST(N'2021-10-13T03:02:22.0000000' AS DateTime2), N'qqq', CAST(N'2021-10-13T03:02:22.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Audit] ([Id], [VoucherCode], [VoucherDate], [WareHouseId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'626729d7-6772-4c23-ada4-59075c374b64', N'ttt', CAST(N'2021-09-09T17:00:00.0000000' AS DateTime2), N'a3da7204-ec66-4f62-8c8a-72cda7740044', N'ttt', CAST(N'2021-10-09T10:18:13.0000000' AS DateTime2), N'ttt', CAST(N'2021-10-09T10:18:13.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Audit] ([Id], [VoucherCode], [VoucherDate], [WareHouseId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'c37524bd-eadd-4459-8b4b-62c913bbc0ea', N'qqq', CAST(N'2021-10-12T17:00:00.0000000' AS DateTime2), N'61517a8c-2f08-43c3-b8d2-4f69d9f9e9ae', N'qqq', CAST(N'2021-10-13T08:54:45.0000000' AS DateTime2), N'qqq', CAST(N'2021-10-13T08:54:45.0000000' AS DateTime2), NULL, 0)
GO
INSERT [dbo].[AuditDetail] ([Id], [AuditId], [ItemId], [Quantity], [AuditQuantity], [Conclude], [OnDelete]) VALUES (N'7cda8438-bc57-4209-b51b-db1e5c188d05', N'f3f70d4a-cfa2-46d9-99d2-e3eb70bebc33', N'd9ddfb77-5e17-4b42-a2c8-4f49ad8f9106', CAST(1.00 AS Decimal(15, 2)), CAST(1.00 AS Decimal(15, 2)), N'trung', 0)
GO
INSERT [dbo].[BeginningWareHouse] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'20cadd82-0426-4917-80f8-5c96c135561f', N'52bb3cad-6855-44a8-b522-1d079cea7649', N'eeacaf7c-3106-4927-a312-746a8f087787', N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', NULL, CAST(99.00 AS Decimal(15, 2)), CAST(N'2021-01-01T03:08:41.0000000' AS DateTime2), NULL, CAST(N'2022-02-07T19:03:32.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[BeginningWareHouse] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'6cbca79b-c01c-4760-b848-6fe2a25e1131', N'a3da7204-ec66-4f62-8c8a-72cda7740044', N'0fcdbed4-e185-42de-b394-e93d6e22f0dd', N'e71dce44-bdfd-4f17-ade3-aa5054c87be8', N'Chi?c', CAST(88.00 AS Decimal(15, 2)), CAST(N'2021-01-02T10:30:24.0000000' AS DateTime2), NULL, CAST(N'2021-09-21T08:04:53.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[BeginningWareHouse] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [Quantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'6fbbce42-5587-4c44-9e92-ec38475899cd', N'3d4e0634-5f64-4e1a-8644-3dc2fd245415', N'5b30d14c-3066-462f-b286-e30a3a42fc29', N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', NULL, CAST(1.00 AS Decimal(15, 2)), CAST(N'2022-07-09T07:40:21.0000000' AS DateTime2), NULL, CAST(N'2022-07-14T14:40:59.0000000' AS DateTime2), NULL, 0)
GO
INSERT [dbo].[SerialWareHouse] ([Id], [ItemId], [Serial], [InwardDetailId], [OutwardDetailId], [IsOver], [OnDelete]) VALUES (N'066a2ec6-d2de-40ea-899c-ae39af12349b', N'15f148b2-f324-4376-8e40-a07315544dd5', N'SR003', N'8cb83a34-fbab-41f6-8450-324d1535207f', NULL, 1, 0)
INSERT [dbo].[SerialWareHouse] ([Id], [ItemId], [Serial], [InwardDetailId], [OutwardDetailId], [IsOver], [OnDelete]) VALUES (N'2846cfca-9741-439c-bb45-a26fab64dc99', N'e96f1e98-8860-4c8c-a0ae-40714817a6cc', N'1', NULL, N'9c7d430c-9411-4ad5-8a18-93343642e747', 1, 0)
INSERT [dbo].[SerialWareHouse] ([Id], [ItemId], [Serial], [InwardDetailId], [OutwardDetailId], [IsOver], [OnDelete]) VALUES (N'32a8e69e-90a4-4084-aea1-1db6a2a1a01e', N'15f148b2-f324-4376-8e40-a07315544dd5', N'SR001', N'8cb83a34-fbab-41f6-8450-324d1535207f', NULL, 1, 0)
GO
INSERT [dbo].[Unit] ([Id], [UnitName], [Inactive], [OnDelete]) VALUES (N'0528bf58-3cf5-44a5-a09d-89f405699387', N'DSADSA', 1, 1)
INSERT [dbo].[Unit] ([Id], [UnitName], [Inactive], [OnDelete]) VALUES (N'0b0782b6-5a5e-4700-986c-2e1bc2de21e1', N'test 01', 1, 1)
INSERT [dbo].[Unit] ([Id], [UnitName], [Inactive], [OnDelete]) VALUES (N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', N'Mét', 1, 0)
GO
INSERT [dbo].[Vendor] ([Id], [Code], [Name], [Address], [Phone], [Email], [ContactPerson], [Inactive], [OnDelete]) VALUES (N'0425d132-63fe-4d13-8fa7-955e88c12737', N'string', N'string1', N'string', N'0388177774', N'string@gmail.com', N'string', 1, 1)
INSERT [dbo].[Vendor] ([Id], [Code], [Name], [Address], [Phone], [Email], [ContactPerson], [Inactive], [OnDelete]) VALUES (N'05eac5f2-67f4-47dc-bd3c-5c630038ce84', N'string', N'Add to number: 9539', N'string', N'string', N'string', N'string', 1, 1)
INSERT [dbo].[Vendor] ([Id], [Code], [Name], [Address], [Phone], [Email], [ContactPerson], [Inactive], [OnDelete]) VALUES (N'0bad6d2b-3f54-4ca5-8ddd-d38422f2a6bd', N'string', N'Add to number: 8188', N'string', N'string', N'string', N'string', 1, 1)
GO
INSERT [dbo].[WareHouse] ([Id], [Code], [Name], [Address], [Description], [ParentId], [Path], [Inactive], [OnDelete]) VALUES (N'04c99b8b-47bd-44d7-9612-1a9428876178', N'string', N'string', N'string', N'string', N'string', N'string', 1, 1)
INSERT [dbo].[WareHouse] ([Id], [Code], [Name], [Address], [Description], [ParentId], [Path], [Inactive], [OnDelete]) VALUES (N'3213372b-591e-4d36-aa33-331d7cbd993e', N'HTCITC7', N'dsadsadsa', N'	HTCITC7', N'	HTCITC7', NULL, NULL, 1, 1)
INSERT [dbo].[WareHouse] ([Id], [Code], [Name], [Address], [Description], [ParentId], [Path], [Inactive], [OnDelete]) VALUES (N'32578553-9b8c-438a-86e7-d73ece11817c', N'HTCITC5', N'HTCITC5', N'dsadsa', N'dsadsa', NULL, NULL, 1, 1)
GO
INSERT [dbo].[WarehouseBalance] ([Id], [ItemId], [WarehouseId], [Quantity], [Amount], [OnDelete]) VALUES (N'12323sdsd-vcdffd', N'0fcdbed4-e185-42de-b394-e93d6e22f0dd', N'53bd3cad-9dff-4f26-8527-d5789d325d1a', CAST(30.00 AS Decimal(15, 2)), CAST(2320.00 AS Decimal(15, 2)), 0)
INSERT [dbo].[WarehouseBalance] ([Id], [ItemId], [WarehouseId], [Quantity], [Amount], [OnDelete]) VALUES (N'2332cwe23-dssdwe-322323ds', N'bf61bc30-bbe2-453a-92af-c78cf56b042e', N'84fd821c-2984-470b-8c1b-5123f7ddbd10', CAST(5550.00 AS Decimal(15, 2)), CAST(55555.00 AS Decimal(15, 2)), 0)
INSERT [dbo].[WarehouseBalance] ([Id], [ItemId], [WarehouseId], [Quantity], [Amount], [OnDelete]) VALUES (N'3123dsadsdas-321dsadasdsa', N'05ce3050-d239-4cf5-8431-351484b88eac', N'41bb3ca9-bdec-4190-a3bf-fe40d006e6fd', CAST(1.00 AS Decimal(15, 2)), CAST(1230.00 AS Decimal(15, 2)), 0)
GO
INSERT [dbo].[WareHouseItem] ([Id], [Code], [Name], [CategoryID], [Description], [VendorID], [VendorName], [Country], [UnitId], [Inactive], [OnDelete]) VALUES (N'05ce3050-d239-4cf5-8431-351484b88eac', N'CQ011', N'Cáp treo ADSS 96FO', N'140d633a-7b1f-4716-8a45-75fc3cca7380', NULL, NULL, NULL, NULL, N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', 1, 0)
INSERT [dbo].[WareHouseItem] ([Id], [Code], [Name], [CategoryID], [Description], [VendorID], [VendorName], [Country], [UnitId], [Inactive], [OnDelete]) VALUES (N'0fcdbed4-e185-42de-b394-e93d6e22f0dd', N'CQ013', N'Cáp treo F8 8FO', N'2bef50f1-f2a4-4dc4-acee-472705974bf3', NULL, NULL, NULL, NULL, N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', 1, 0)
INSERT [dbo].[WareHouseItem] ([Id], [Code], [Name], [CategoryID], [Description], [VendorID], [VendorName], [Country], [UnitId], [Inactive], [OnDelete]) VALUES (N'15f148b2-f324-4376-8e40-a07315544dd5', N'VT001', N'Cáp quang ngầm F01', N'49bcb6b8-d5d0-4aa8-ad27-4adb8c3d47f8', N'Việt Nam', N'39286ee6-95af-4fdd-9302-b7db16051a72', NULL, N'Việt Nam', N'492fd220-aeed-42a7-956d-ad11c324f3d0', 1, 0)
GO
INSERT [dbo].[WareHouseItemCategory] ([Id], [Code], [Name], [ParentId], [Path], [Description], [Inactive], [OnDelete]) VALUES (N'05ed73d2-008c-42d8-a0e2-ed2d86ccc59d', N'00013', N'Gía', N'fd386a17-b37a-48d4-860a-ac710a0ce5b6', NULL, NULL, 1, 1)
INSERT [dbo].[WareHouseItemCategory] ([Id], [Code], [Name], [ParentId], [Path], [Description], [Inactive], [OnDelete]) VALUES (N'0f0ff0cf-d6d5-4aa8-8cba-022d097dd604', N'00019', N'Ph? ki?n thi?t b? khách hàng', N'5be24ad6-d0b8-4b74-8284-e6f86a318919', NULL, NULL, 1, 1)
INSERT [dbo].[WareHouseItemCategory] ([Id], [Code], [Name], [ParentId], [Path], [Description], [Inactive], [OnDelete]) VALUES (N'140d633a-7b1f-4716-8a45-75fc3cca7380', N'00002', N'Cáp treo ADSS', N'26129862-8bb0-4b21-b855-8bc9d09f3601', NULL, NULL, 1, 0)
GO
INSERT [dbo].[WareHouseItemUnit] ([Id], [ItemId], [UnitId], [ConvertRate], [IsPrimary], [OnDelete]) VALUES (N'08a1c0e4-83f1-4566-b83b-61b80bcb267a', N'5a28c168-98fd-4ddb-a3b2-ac16a41ea647', N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', 1, 1, 0)
INSERT [dbo].[WareHouseItemUnit] ([Id], [ItemId], [UnitId], [ConvertRate], [IsPrimary], [OnDelete]) VALUES (N'09d0c131-60fb-4ccb-a17b-a786f0c7dbd2', N'eda15932-8f25-47d1-b568-0641d078e06d', N'8314fff5-111d-4512-a0db-c0a454826a8c', 1, 1, 0)
INSERT [dbo].[WareHouseItemUnit] ([Id], [ItemId], [UnitId], [ConvertRate], [IsPrimary], [OnDelete]) VALUES (N'0B2F566D-0963-4A62-B1CC-8EE115C8F579', N'5b30d14c-3066-462f-b286-e30a3a42fc29', N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', 1, 1, 0)
GO
INSERT [dbo].[WareHouseLimit] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [MinQuantity], [MaxQuantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'0cdb0a3c-b9f2-422c-afaf-489c6848acbe', N'fc8c5689-2d04-4dcf-9ed3-26f4c1522e0d', N'9c894acd-7975-414b-bc44-3006f6bcf3b7', N'e71dce44-bdfd-4f17-ade3-aa5054c87be8', N'Chi?c', 99, 99, CAST(N'2021-10-13T01:50:20.0000000' AS DateTime2), NULL, CAST(N'2021-10-13T01:50:20.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[WareHouseLimit] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [MinQuantity], [MaxQuantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'125f35e3-1610-41b7-a526-2113215f6141', N'd0cb38bf-b405-46bb-b5a0-24c6c298404c', N'f940cbb9-6052-4a2b-9d33-630b95d9d60b', N'0eb2a9a3-4b6b-4a7b-af94-e5804c5d7b8d', N'Mét', 23, 24, CAST(N'2021-09-21T03:40:18.0000000' AS DateTime2), NULL, CAST(N'2021-09-30T06:48:30.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[WareHouseLimit] ([Id], [WareHouseId], [ItemId], [UnitId], [UnitName], [MinQuantity], [MaxQuantity], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [OnDelete]) VALUES (N'223dc468-ea56-48ec-8acc-a139959874d4', N'84fd821c-2984-470b-8c1b-5123f7ddbd10', N'f940cbb9-6052-4a2b-9d33-630b95d9d60b', N'e71dce44-bdfd-4f17-ade3-aa5054c87be8', NULL, 22, 30, CAST(N'2021-10-13T02:59:03.0000000' AS DateTime2), NULL, CAST(N'2021-10-13T02:59:03.0000000' AS DateTime2), NULL, 0)
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT ('') FOR [VoucherCode]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (getdate()) FOR [VoucherDate]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (NULL) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Audit] ADD  CONSTRAINT [DF_Audit_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  DEFAULT ('') FOR [AuditId]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  DEFAULT (NULL) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  DEFAULT (NULL) FOR [EmployeeName]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  DEFAULT (NULL) FOR [Role]
GO
ALTER TABLE [dbo].[AuditCouncil] ADD  CONSTRAINT [DF_AuditCouncil_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT ('') FOR [AuditId]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT (NULL) FOR [ItemId]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT ((0)) FOR [AuditQuantity]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  DEFAULT (NULL) FOR [Conclude]
GO
ALTER TABLE [dbo].[AuditDetail] ADD  CONSTRAINT [DF_AuditDetail_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[AuditDetailSerial] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[AuditDetailSerial] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[AuditDetailSerial] ADD  DEFAULT ('') FOR [Serial]
GO
ALTER TABLE [dbo].[AuditDetailSerial] ADD  DEFAULT (NULL) FOR [AuditDetailId]
GO
ALTER TABLE [dbo].[AuditDetailSerial] ADD  CONSTRAINT [DF_AuditDetailSerial_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT ('') FOR [WareHouseId]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT (NULL) FOR [UnitName]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  DEFAULT (NULL) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[BeginningWareHouse] ADD  CONSTRAINT [DF_BeginningWareHouse_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [VoucherCode]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (getdate()) FOR [VoucherDate]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT ('') FOR [WareHouseID]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [Deliver]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [Receiver]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [VendorId]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [ReasonDescription]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [Reference]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (NULL) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Inward] ADD  CONSTRAINT [DF_Inward_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ('') FOR [InwardId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ((0)) FOR [UIQuantity]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ((0.00)) FOR [UIPrice]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ((0.00)) FOR [Amount]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [DepartmentName]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [EmployeeName]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [StationId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [StationName]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [ProjectId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [ProjectName]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [CustomerId]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  DEFAULT (NULL) FOR [CustomerName]
GO
ALTER TABLE [dbo].[InwardDetail] ADD  CONSTRAINT [DF_InwardDetail_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [VoucherCode]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (getdate()) FOR [VoucherDate]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT ('') FOR [WareHouseID]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [ToWareHouseId]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [Deliver]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [Receiver]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [ReasonDescription]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [Reference]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (NULL) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Outward] ADD  CONSTRAINT [DF_Outward_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ('') FOR [OutwardId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ((0)) FOR [UIQuantity]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ((0.00)) FOR [UIPrice]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ((0.00)) FOR [Amount]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [DepartmentName]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [EmployeeName]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [StationId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [StationName]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [ProjectId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [ProjectName]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [CustomerId]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  DEFAULT (NULL) FOR [CustomerName]
GO
ALTER TABLE [dbo].[OutwardDetail] ADD  CONSTRAINT [DF_OutwardDetail_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT ('') FOR [Serial]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT (NULL) FOR [InwardDetailId]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT (NULL) FOR [OutwardDetailId]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  DEFAULT ((0)) FOR [IsOver]
GO
ALTER TABLE [dbo].[SerialWareHouse] ADD  CONSTRAINT [DF_SerialWareHouse_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT (NULL) FOR [UnitName]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [DF_Vendor_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (NULL) FOR [Address]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (NULL) FOR [ParentId]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (NULL) FOR [Path]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT ((0)) FOR [Inactive]
GO
ALTER TABLE [dbo].[WareHouse] ADD  CONSTRAINT [DF_WareHouse_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  DEFAULT ('') FOR [WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  DEFAULT ((0.00)) FOR [Amount]
GO
ALTER TABLE [dbo].[WarehouseBalance] ADD  CONSTRAINT [DF_WarehouseBalance_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT (NULL) FOR [CategoryID]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT (NULL) FOR [VendorID]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT (NULL) FOR [VendorName]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  DEFAULT ((1)) FOR [Inactive]
GO
ALTER TABLE [dbo].[WareHouseItem] ADD  CONSTRAINT [DF_WareHouseItem_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT (NULL) FOR [ParentId]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT (NULL) FOR [Path]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  DEFAULT ((1)) FOR [Inactive]
GO
ALTER TABLE [dbo].[WareHouseItemCategory] ADD  CONSTRAINT [DF_WareHouseItemCategory_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] ADD  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[WareHouseItemUnit] ADD  CONSTRAINT [DF_WareHouseItemUnit_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ('') FOR [Id]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ('') FOR [WareHouseId]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ('') FOR [ItemId]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ('') FOR [UnitId]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT (NULL) FOR [UnitName]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ((0)) FOR [MinQuantity]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT ((0)) FOR [MaxQuantity]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  DEFAULT (NULL) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[WareHouseLimit] ADD  CONSTRAINT [DF_WareHouseLimit_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audits_PK_WareHouse] FOREIGN KEY([WareHouseId])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[Audit] CHECK CONSTRAINT [FK_Audits_PK_WareHouse]
GO
ALTER TABLE [dbo].[AuditCouncil]  WITH CHECK ADD  CONSTRAINT [FK_AuditCouncils_PK_Audit] FOREIGN KEY([AuditId])
REFERENCES [dbo].[Audit] ([Id])
GO
ALTER TABLE [dbo].[AuditCouncil] CHECK CONSTRAINT [FK_AuditCouncils_PK_Audit]
GO
ALTER TABLE [dbo].[AuditDetail]  WITH CHECK ADD  CONSTRAINT [FK_AuditDetails_PK_Audit] FOREIGN KEY([AuditId])
REFERENCES [dbo].[Audit] ([Id])
GO
ALTER TABLE [dbo].[AuditDetail] CHECK CONSTRAINT [FK_AuditDetails_PK_Audit]
GO
ALTER TABLE [dbo].[AuditDetail]  WITH CHECK ADD  CONSTRAINT [FK_AuditDetails_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[AuditDetail] CHECK CONSTRAINT [FK_AuditDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[AuditDetailSerial]  WITH CHECK ADD  CONSTRAINT [FK_AuditDetailSerials_PK_AuditDetail] FOREIGN KEY([AuditDetailId])
REFERENCES [dbo].[AuditDetail] ([Id])
GO
ALTER TABLE [dbo].[AuditDetailSerial] CHECK CONSTRAINT [FK_AuditDetailSerials_PK_AuditDetail]
GO
ALTER TABLE [dbo].[AuditDetailSerial]  WITH CHECK ADD  CONSTRAINT [FK_AuditDetailSerials_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[AuditDetailSerial] CHECK CONSTRAINT [FK_AuditDetailSerials_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[BeginningWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_BeginningWareHouses_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[BeginningWareHouse] CHECK CONSTRAINT [FK_BeginningWareHouses_PK_Unit]
GO
ALTER TABLE [dbo].[BeginningWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_BeginningWareHouses_PK_WareHouse] FOREIGN KEY([WareHouseId])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[BeginningWareHouse] CHECK CONSTRAINT [FK_BeginningWareHouses_PK_WareHouse]
GO
ALTER TABLE [dbo].[BeginningWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_BeginningWareHouses_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[BeginningWareHouse] CHECK CONSTRAINT [FK_BeginningWareHouses_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[Inward]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseInwards_PK_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Inward] CHECK CONSTRAINT [FK_WareHouseInwards_PK_Vendor]
GO
ALTER TABLE [dbo].[Inward]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseInwards_PK_WareHouse] FOREIGN KEY([WareHouseID])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[Inward] CHECK CONSTRAINT [FK_WareHouseInwards_PK_WareHouse]
GO
ALTER TABLE [dbo].[InwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_InwardDetails_PK_Inward] FOREIGN KEY([InwardId])
REFERENCES [dbo].[Inward] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InwardDetail] CHECK CONSTRAINT [FK_InwardDetails_PK_Inward]
GO
ALTER TABLE [dbo].[InwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_InwardDetails_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[InwardDetail] CHECK CONSTRAINT [FK_InwardDetails_PK_Unit]
GO
ALTER TABLE [dbo].[InwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_InwardDetails_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[InwardDetail] CHECK CONSTRAINT [FK_InwardDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[Outward]  WITH CHECK ADD  CONSTRAINT [FK_ToWareHouse_Outwards_PK_ToWareHouse] FOREIGN KEY([ToWareHouseId])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[Outward] CHECK CONSTRAINT [FK_ToWareHouse_Outwards_PK_ToWareHouse]
GO
ALTER TABLE [dbo].[Outward]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Outwards_PK_WareHouse] FOREIGN KEY([WareHouseID])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[Outward] CHECK CONSTRAINT [FK_Warehouse_Outwards_PK_WareHouse]
GO
ALTER TABLE [dbo].[OutwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_OutwardDetails_PK_Outward] FOREIGN KEY([OutwardId])
REFERENCES [dbo].[Outward] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutwardDetail] CHECK CONSTRAINT [FK_OutwardDetails_PK_Outward]
GO
ALTER TABLE [dbo].[OutwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_OutwardDetails_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[OutwardDetail] CHECK CONSTRAINT [FK_OutwardDetails_PK_Unit]
GO
ALTER TABLE [dbo].[OutwardDetail]  WITH CHECK ADD  CONSTRAINT [FK_OutwardDetails_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[OutwardDetail] CHECK CONSTRAINT [FK_OutwardDetails_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[SerialWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_SerialWareHouses_PK_InwardDetail] FOREIGN KEY([InwardDetailId])
REFERENCES [dbo].[InwardDetail] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SerialWareHouse] CHECK CONSTRAINT [FK_SerialWareHouses_PK_InwardDetail]
GO
ALTER TABLE [dbo].[SerialWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_SerialWareHouses_PK_OutwardDetail] FOREIGN KEY([OutwardDetailId])
REFERENCES [dbo].[OutwardDetail] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SerialWareHouse] CHECK CONSTRAINT [FK_SerialWareHouses_PK_OutwardDetail]
GO
ALTER TABLE [dbo].[SerialWareHouse]  WITH CHECK ADD  CONSTRAINT [FK_SerialWareHouses_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[SerialWareHouse] CHECK CONSTRAINT [FK_SerialWareHouses_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[WareHouseItem]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItems_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[WareHouseItem] CHECK CONSTRAINT [FK_WareHouseItems_PK_Unit]
GO
ALTER TABLE [dbo].[WareHouseItem]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItems_PK_Vendor] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[WareHouseItem] CHECK CONSTRAINT [FK_WareHouseItems_PK_Vendor]
GO
ALTER TABLE [dbo].[WareHouseItem]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItems_PK_WareHouseItemCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[WareHouseItemCategory] ([Id])
GO
ALTER TABLE [dbo].[WareHouseItem] CHECK CONSTRAINT [FK_WareHouseItems_PK_WareHouseItemCategory]
GO
ALTER TABLE [dbo].[WareHouseItemCategory]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItemCategories_PK_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[WareHouseItemCategory] ([Id])
GO
ALTER TABLE [dbo].[WareHouseItemCategory] CHECK CONSTRAINT [FK_WareHouseItemCategories_PK_Parent]
GO
ALTER TABLE [dbo].[WareHouseItemUnit]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItemUnits_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[WareHouseItemUnit] CHECK CONSTRAINT [FK_WareHouseItemUnits_PK_Unit]
GO
ALTER TABLE [dbo].[WareHouseItemUnit]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseItemUnits_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WareHouseItemUnit] CHECK CONSTRAINT [FK_WareHouseItemUnits_PK_WareHouseItem]
GO
ALTER TABLE [dbo].[WareHouseLimit]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseLimits_PK_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[WareHouseLimit] CHECK CONSTRAINT [FK_WareHouseLimits_PK_Unit]
GO
ALTER TABLE [dbo].[WareHouseLimit]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseLimits_PK_WareHouse] FOREIGN KEY([WareHouseId])
REFERENCES [dbo].[WareHouse] ([Id])
GO
ALTER TABLE [dbo].[WareHouseLimit] CHECK CONSTRAINT [FK_WareHouseLimits_PK_WareHouse]
GO
ALTER TABLE [dbo].[WareHouseLimit]  WITH CHECK ADD  CONSTRAINT [FK_WareHouseLimits_PK_WareHouseItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[WareHouseItem] ([Id])
GO
ALTER TABLE [dbo].[WareHouseLimit] CHECK CONSTRAINT [FK_WareHouseLimits_PK_WareHouseItem]
GO
/****** Object:  Trigger [dbo].[Triger_Wh_Ut]    Script Date: 7/18/2022 8:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[Triger_Wh_Ut] ON [dbo].[WareHouseItem] 
  AFTER INSERT
AS 
BEGIN
  SET NOCOUNT ON;

  -- get the last id value of the record inserted or updated
  DECLARE @id nvarchar(100)
  DECLARE @idunit nvarchar(100)
  DECLARE @iditem nvarchar(100)
  SELECT @id = Id
  FROM INSERTED
  SELECT @idunit = UnitId
  FROM INSERTED
  -- Insert statements for trigger here
  insert into WareHouseItemUnit values(NEWID(),@id,@idunit,1,1,0)

END
GO
ALTER TABLE [dbo].[WareHouseItem] ENABLE TRIGGER [Triger_Wh_Ut]
GO
