USE [master]
GO
/****** Object:  Database [MasterData]    Script Date: 7/18/2022 3:42:42 PM ******/
CREATE DATABASE [MasterData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterData', FILENAME = N'/var/opt/mssql/data/MasterData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterData_log', FILENAME = N'/var/opt/mssql/data/MasterData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterData]
GO
/****** Object:  Table [dbo].[FakeDataMaster]    Script Date: 7/18/2022 3:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FakeDataMaster](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[OnDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryNotication]    Script Date: 7/18/2022 3:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryNotication](
	[Id] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](250) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Read] [bit] NOT NULL,
	[Link] [nvarchar](250) NULL,
	[OnDelete] [bit] NOT NULL,
	[UserNameRead] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 7/18/2022 3:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[InActive] [bit] NOT NULL,
	[OnDelete] [bit] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[RoleNumber] [int] NOT NULL,
	[Read] [bit] NOT NULL,
	[Create] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[WarehouseId] [nvarchar](max) NULL,
	[ListWarehouseId] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[FakeDataMaster] ([Id], [Name], [Type], [OnDelete]) VALUES (N'07fdc52e-be77-462f-aae7-6b54591195d7', N'Department 8', 6, 0)
INSERT [dbo].[FakeDataMaster] ([Id], [Name], [Type], [OnDelete]) VALUES (N'1e906547-2dc6-4906-a143-eeee1ae63837', N'Employee 1', 7, 0)
INSERT [dbo].[FakeDataMaster] ([Id], [Name], [Type], [OnDelete]) VALUES (N'200b71f0-cf40-49c5-bc3e-a8e29d80923c', N'Department 6', 6, 0)
GO
INSERT [dbo].[HistoryNotication] ([Id], [UserName], [Method], [Body], [CreateDate], [Read], [Link], [OnDelete], [UserNameRead]) VALUES (N'01104f7c-55b7-4e00-82a1-92108d346043', N'admin@gmail.com', N'Xóa', N'vừa xóa phiếu danh sách phiếu trong sổ kho !', CAST(N'2022-07-14T10:16:38.0212545' AS DateTime2), 0, N'', 0, N',admin@gmail.com')
INSERT [dbo].[HistoryNotication] ([Id], [UserName], [Method], [Body], [CreateDate], [Read], [Link], [OnDelete], [UserNameRead]) VALUES (N'017c998a-8426-40c1-b7fc-57e197c8473b', N'admin@gmail.com', N'Chỉnh sửa', N'vừa chỉnh sửa phiếu nhập kho có mã fdsfsd5vxvcx!', CAST(N'2022-05-20T14:22:05.6809907' AS DateTime2), 0, N'8a148d80-2cb5-4000-9470-bf334841b4a0', 0, N',admin@gmail.com')
INSERT [dbo].[HistoryNotication] ([Id], [UserName], [Method], [Body], [CreateDate], [Read], [Link], [OnDelete], [UserNameRead]) VALUES (N'0205c6f1-c4e3-473f-b755-ababb96eea49', N'admin@gmail.com', N'Chỉnh sửa', N'vừa chỉnh sửa phiếu nhập kho có mã fdsfsd5vxvcx!', CAST(N'2022-06-10T11:36:12.4392086' AS DateTime2), 0, N'8a148d80-2cb5-4000-9470-bf334841b4a0', 0, N',admin@gmail.com')
GO
INSERT [dbo].[UserMaster] ([Id], [UserName], [Password], [InActive], [OnDelete], [Role], [RoleNumber], [Read], [Create], [Edit], [Delete], [WarehouseId], [ListWarehouseId]) VALUES (N'c2483cc3-ecab-471c-a472-df0c8dbd5dc4', N'manager@example.com', N'AQAAAAEAACcQAAAAEOyZZHmIaPJ5PEfT9o9iAsqrt+Np/hJdQ7sTZjk7dguAjp8N8K28lTFHTZV5bv14Tw==', 1, 0, N'Manager', 2, 1, 1, 1, 1, N'fc8c5689-2d04-4dcf-9ed3-26f4c1522e0d', N'fc8c5689-2d04-4dcf-9ed3-26f4c1522e0d')
GO
ALTER TABLE [dbo].[HistoryNotication] ADD  CONSTRAINT [DF_HistoryNotication_Read]  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[HistoryNotication] ADD  CONSTRAINT [DF_HistoryNotication_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_InActive]  DEFAULT ((1)) FOR [InActive]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_OnDelete]  DEFAULT ((0)) FOR [OnDelete]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Read]  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Create]  DEFAULT ((0)) FOR [Create]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Edit]  DEFAULT ((0)) FOR [Edit]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Delete]  DEFAULT ((0)) FOR [Delete]
GO
USE [master]
GO
