
<notifier-container></notifier-container>
<p-toast></p-toast>
<div  [ngStyle]="{'opacity': (loading) ? '1' : '0'}" class="loading-container flex-content-center">
    <mat-progress-bar
      color="warn"
      mode="indeterminate">
    </mat-progress-bar>
  </div>
  <div [hidden]="!checkSizeWindows">
    <router-outlet></router-outlet>
  </div>
  <div [hidden]="checkSizeWindows">
    <p>Màn hình không đủ yêu cầu !</p>
  </div>
