<div class="center">

  <div class="title">
    <h1>Phần mềm quản lý kho !</h1>
    <div class="center-info">
      <h3>Sinh viên: NGUYỄN KHẢ HỢP</h3>
      <h3>MSV:1721050681</h3>
    </div>
  </div>
  <div class="container-fluid center-container">
    <div class="row h-100">
      <div class="col-6">
        <img class="img" src="../../../assets/img/1055-Converted.jpg" />
      </div>

      <div class="col-6" style="background-color: white;">
        <div class="center-button">
          <a routerLink="/authozire/login" style="margin:5px;" mat-raised-button color="success">
            <mat-icon class="mat-18">login</mat-icon>Đăng nhập
          </a>
          <a style="margin:5px;" routerLink="/authozire/registration"  mat-raised-button color="accent">
            <mat-icon class="mat-18">add</mat-icon>Đăng ký
          </a>
        </div>
      </div>
    </div>
  </div>
</div>