.text-capitalize {
    font-size: 18px;
    font-weight: 500;
}

.icon-format {
    font-size: 39px;
    height: 45px;
}

.d-flex-home {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    margin-top: 79px;
}