<div mat-dialog-title>{{title}}</div>
<div *ngIf="dt">
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group d-none">
      <mat-label class="form-label">Id</mat-label>
      <input type="text" formControlName="id" class="form-control" />
    </div>
    <div class="form-group row mb-1" style="position: relative;">
      <mat-label class="form-label col-3">Thuộc kho</mat-label>
      <select [attr.disabled]="true" formControlName="wareHouseId" class="form-select col">
        <option [attr.disable]="true" class="s-c option" *ngFor="let state of dt.wareHouseDTO" [ngValue]="state.id">
          {{ state.name }}
        </option>
      </select>

    </div>
    <div class="form-group row mb-1" style="position: relative;">
      <mat-label class="form-label col-3">Vật tư</mat-label>
      <select (change)="changItem($event)"  formControlName="itemId" class="form-select col">
        <option class="s-c option" *ngFor="let state of dt.wareHouseItemDTO" [ngValue]="state.id">
          {{ state.name }}
        </option>
      </select>

    </div>
    <div class="form-group row mb-1" style="position: relative;">
      <mat-label class="form-label col-3">Đơn vị tính</mat-label>
      <select [attr.disabled]="true" id="unitSelect" formControlName="unitId" class="form-select col">
        <option  class="s-c option" *ngFor="let state of dt.unitDTO" [value]="state.id" [ngValue]="state.id">
          {{ state.unitName }}
        </option>
      </select>
    </div>
   
    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Tồn tối thiểu</mat-label>
      <input type="number" formControlName="minQuantity" class="form-control col" />
    </div>

    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Tồn tối đa</mat-label>
      <input type="number" formControlName="maxQuantity" class="form-control col" />
    </div>
    <div style="margin-top: 10px;float: right;">
      <button type="submit" mat-button mat-raised-button cdkFocusInitial color="primary">Save</button>
      <button style="margin-left: 20px;" mat-button type="button" mat-raised-button (click)="onNoClick()">Huỷ
        bỏ</button>
    </div>
  </form>
</div>