<notifier-container></notifier-container>


<div id="viewcheck">
  <div class=" d-flex justify-content-between" style="margin-top: 10px;">
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>App</mat-label>
        <mat-select (selectionChange)='selectEvent($event)' [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.id">
            {{food.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button style="margin:5px;" mat-raised-button color="success" (click)="openDialogCreate()">
        <mat-icon class="mat-18">add</mat-icon>Thêm mới
      </button>
      <button style="margin:5px;" mat-raised-button color="warn" (click)="openDialogDeleteAll()">
        <mat-icon class="mat-18">delete</mat-icon>Xóa (Đã chọn)
      </button>
    </div>
  </div>
  <p-treeTable [value]="files5" [columns]="cols" scrollHeight="66vh" [scrollable]="true" selectionMode="checkbox"
    [(selection)]="selectedNodes3" [paginator]="true" [rows]="10" [resizableColumns]="true"
    [showCurrentPageReport]="true" styleClass="p-datatable-gridlines p-datatable-striped"
    [tableStyle]="{'min-width': '50rem'}"
    currentPageReportTemplate="Hiển thị từ {first} tới {last} của {totalRecords} kết quả"
    [rowsPerPageOptions]="[10,25,50]">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
          <span class="">Chọn tất cả</span>
        </th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
        </td>
        <td>{{rowData.name}}</td>
        <td>{{rowData.key}}</td>
        <td >{{rowData.description}}</td>

        <td>
          <p-checkbox [disabled]="true" [(ngModel)]="rowData.isAPI" [binary]="true"></p-checkbox>
        </td>
        <td>
          <p-checkbox [disabled]="true" [(ngModel)]="rowData.inActive" [binary]="true"></p-checkbox>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="openDialog(rowData)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Footer
    </ng-template>
  </p-treeTable>
</div>