input {
  jdbc {
    jdbc_driver_class => "com.microsoft.sqlserver.jdbc.SQLServerDriver"
    jdbc_connection_string => "jdbc:sqlserver://sqlserver;databaseName=WarehouseManagement;user=sa;password=Aa!0977751021;encrypt=true;trustServerCertificate=true;"
    jdbc_user => "sa"
    jdbc_password => "Aa!0977751021"
    jdbc_paging_enabled => true
    tracking_column => "id"
    use_column_value => true
    tracking_column_type => "numeric"
    schedule => "*/5 * * * * *"
    statement => "SELECT * from WareHouse "
  }
}
filter {
 # mutate {
  #  copy => { "invoiceid" => "[@metadata][_id]"}
  #  remove_field => ["invoiceid", "@version", "unix_ts_in_secs"]
 # }
}
output {
  # stdout { codec =>  "rubydebug"}
  elasticsearch {
    hosts => "http://localhost:9200"
    index => "idx_wwi_invoices"
   # document_id => "%{[@metadata][_id]}"
  }
}