
<div class="misa-launcher">
  
  <div class="misa-launcher-topbar"><a class="logo-amis" href="/"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="116" height="26" viewBox="0 0 116 26">
        <defs>
          <linearGradient id="a" x1="-243.71" y1="228.33" x2="-243.99" y2="229.18"
            gradientTransform="matrix(15.6, 0, 0, -9.13, 3819.82, 2097.18)" gradientUnits="userSpaceOnUse">
            <stop offset="0.37" stop-color="#72be44" stop-opacity="0.1"></stop>
            <stop offset="1" stop-color="#72be44" stop-opacity="0.8"></stop>
          </linearGradient>
          <linearGradient id="b" x1="-232.58" y1="238.9" x2="-231.74" y2="239.19"
            gradientTransform="matrix(9.21, 0, 0, -15.55, 2156.74, 3732.88)" gradientUnits="userSpaceOnUse">
            <stop offset="0.37" stop-color="#f48120" stop-opacity="0.1"></stop>
            <stop offset="0.57" stop-color="#f5861f" stop-opacity="0.32"></stop>
            <stop offset="0.82" stop-color="#f7951d" stop-opacity="0.6"></stop>
            <stop offset="1" stop-color="#f9a51a" stop-opacity="0.8"></stop>
          </linearGradient>
          <linearGradient id="c" x1="-231.53" y1="239.05" x2="-232.39" y2="238.76"
            gradientTransform="matrix(9.14, 0, 0, -15.57, 2128.99, 3730.42)" gradientUnits="userSpaceOnUse">
            <stop offset="0.35" stop-color="#00b8f1" stop-opacity="0.1"></stop>
            <stop offset="1" stop-color="#00b8f1" stop-opacity="0.8"></stop>
          </linearGradient>
          <linearGradient id="d" x1="-243.98" y1="229.06" x2="-243.47" y2="228.17"
            gradientTransform="matrix(15.62, 0, 0, -9.04, 3816.92, 2084.65)" gradientUnits="userSpaceOnUse">
            <stop offset="0.13" stop-color="#fff100" stop-opacity="0.1"></stop>
            <stop offset="1" stop-color="#fff100" stop-opacity="0.9"></stop>
          </linearGradient>
        </defs>
        <title></title>
        <path d="M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z" style="fill:none"></path>
        <path
          d="M96.74,15.64c-.55,1.38-1.61,1.64-2.23.07L90.23,5h-3l4.65,11.62a6.13,6.13,0,0,0,1.65,2.48,3.13,3.13,0,0,0,4.28,0,6.28,6.28,0,0,0,1.65-2.51L104,5h-3Z"
          style="fill:#fff"></path>
        <path
          d="M57.9,5a4.4,4.4,0,0,0-3,1.13,4.4,4.4,0,0,0-6.11.22,4.34,4.34,0,0,0-1.35,3.17V19.94h3V9.48a1.5,1.5,0,0,1,3,0V19.9h2.89V9.48a1.5,1.5,0,0,1,3,0V19.9h3V9.48A4.32,4.32,0,0,0,60.9,6.31,3.79,3.79,0,0,0,57.9,5Z"
          style="fill:#fff"></path>
        <path d="M64.31,19.94h2.82V5H64.31Z" style="fill:#fff"></path>
        <path
          d="M78.48,11h-5.2a1.49,1.49,0,0,1-.08-3H83v-3h-9.7a4.49,4.49,0,0,0-4.5,4.48h0a4.11,4.11,0,0,0,1.32,3.13A4.46,4.46,0,0,0,73.28,14h5.2a1.49,1.49,0,0,1,1.11,2.54h0a1.49,1.49,0,0,1-1.1.44h-9.7v3h9.7a4.24,4.24,0,0,0,3.18-1.31A4.31,4.31,0,0,0,83,15.42a4.22,4.22,0,0,0-1.28-3.13A4.49,4.49,0,0,0,78.48,11Z"
          style="fill:#fff"></path>
        <rect x="84.15" y="16.95" width="3" height="2.99" style="fill:#fff"></rect>
        <path
          d="M40.52,5h-1.1A5.44,5.44,0,0,0,34,10.39v9.54h2.86V16H43v4h2.86V10.39A5.31,5.31,0,0,0,40.64,5Zm2.56,8H36.93V10.79A2.84,2.84,0,0,1,39.75,8h.59a2.84,2.84,0,0,1,2.82,2.81V13Z"
          style="fill:#fff"></path>
        <path
          d="M110.58,5h-1.06a5.44,5.44,0,0,0-5.42,5.39v9.54H107V10.79A2.84,2.84,0,0,1,109.78,8h.55a2.84,2.84,0,0,1,2.82,2.81v9.14H116V10.39A5.42,5.42,0,0,0,110.58,5Z"
          style="fill:#fff"></path>
        <path d="M13,1h0a12,12,0,1,0,0,24h0A12,12,0,1,0,13,1Zm0,16.28h0L8.66,13,13,8.65h0L17.31,13Z" style="fill:none">
        </path>
        <path
          d="M13.18,8.35c3.15,3.11,7.21,6.11,7.32,10.68a5.61,5.61,0,0,1-2.74,4.65l.07,0a11.62,11.62,0,0,0,6.73-9C25.37,8.35,20.65,2.5,13.18,8.35Z"
          style="fill:#ec1c24"></path>
        <path
          d="M12.78,17.61C9.63,14.5,5.57,11.5,5.46,6.93A5.62,5.62,0,0,1,8.21,2.28l-.07,0a11.78,11.78,0,0,0-6.7,9C.6,17.61,5.32,23.46,12.78,17.61Z"
          style="fill:#0057a7"></path>
        <path
          d="M8.35,12.78C11.46,9.63,14.46,5.57,19,5.46a5.61,5.61,0,0,1,4.65,2.74l0-.07a11.78,11.78,0,0,0-9-6.7C8.35.6,2.5,5.32,8.35,12.78Z"
          style="fill:#006838"></path>
        <path
          d="M17.61,13.18C14.5,16.33,11.5,20.39,6.93,20.5a5.61,5.61,0,0,1-4.65-2.74l0,.07a11.62,11.62,0,0,0,9,6.73C17.61,25.37,23.46,20.65,17.61,13.18Z"
          style="fill:#f48120"></path>
        <path d="M8.35,12.78C11.46,9.63,14.46,5.57,19,5.46a5.61,5.61,0,0,1,4.65,2.75l0-.07C19.73.38,6,3.16,8.35,12.78Z"
          style="fill:url(#a)"></path>
        <path d="M13,8.28c3.15,3.07,7.28,6,7.43,10.61a5.52,5.52,0,0,1-2.71,4.65l.07,0C25.55,19.55,22.66,5.79,13,8.28Z"
          style="fill:url(#b)"></path>
        <path d="M12.78,17.61C9.63,14.5,5.57,11.5,5.46,7A5.62,5.62,0,0,1,8.21,2.32l-.07,0C.38,6.23,3.12,20,12.78,17.61Z"
          style="fill:url(#c)"></path>
        <path
          d="M17.61,13.33c-3.15,3.07-6.22,7.13-10.76,7.17a5.64,5.64,0,0,1-4.61-2.82l0,.07C6,25.59,19.88,23,17.61,13.33Z"
          style="fill:url(#d)"></path>
        <path d="M13,1h0a12,12,0,1,0,0,24h0A12,12,0,1,0,13,1Zm0,16.28h0L8.66,13,13,8.65h0L17.31,13Z" style="fill:none">
        </path>
      </svg></a>
    <div class="flex-1"></div>
    <div class="avatar" id="AMIS_Account" style="position: relative;">
      <!-- <img class="user-avatar"
        src="https://vtqt.amis.vn/V2/Handler/EmployeeImage.ashx?EmpID=7a70d794-01bb-4502-b708-9ecb48e18438&amp;width=120&amp;height=120"> -->
      <div class="user-name flex-1 ellipsis subapp-name">{{userName}}</div><i class="icon icon-dropdown"><svg
          xmlns="http://www.w3.org/2000/svg" width="9" height="5.21" viewBox="0 0 9 5.21">
          <path d="M.5.5l4,4,4-4" style="fill:none;stroke:#fff;stroke-linecap:round"></path>
        </svg></i>
      <ul class="misa-user-account-menu" style="width:256px"><i class="icon-align"></i>
        <li class="dropdown-item user-details">
          <div>
            <!-- <img class="menu-user-avatar"
              src="https://vtqt.amis.vn/V2/Handler/EmployeeImage.ashx?EmpID=7a70d794-01bb-4502-b708-9ecb48e18438&amp;width=120&amp;height=120"> -->
          </div>
          <div class="user-info">
            <h6 class="menu-user-name subapp-name">{{userName}}</h6>
            <p class="user-id"></p>
          </div>
        </li>
        <li class="menu-item">Trang tin của tôi</li>
        <li class="menu-item extend-item" extend-value="Thiết lập ứng dụng">Thiết lập ứng dụng</li>
        <li class="menu-item">Đăng xuất</li>
      </ul>
    </div>
  </div>
  <div class="container" style="margin-top: 55px;">
    <div class="icon-show">
      <div class="" routerLink="/wh">
        <div class="icon">
          <img src="../../../assets/img/warehouse-svgrepo-com.svg" intrinsicsize="512 x 512" width="70" height="70"
            srcset="https://www.svgrepo.com/show/375339/certificate-authority-service.svg 4x"
            alt="Certificate Authority Service SVG Vector" title="Certificate Authority Service SVG Vector">
        </div>
        <div class="subapp-name">
          Kho
        </div>
      </div>

      <div class="" routerLink="/master">
        <div class="icon">
          <img src="../../../assets/img/certificate-authority-service-svgrepo-com.svg" intrinsicsize="512 x 512"
            width="70" height="70" srcset="https://www.svgrepo.com/show/375339/certificate-authority-service.svg 4x"
            alt="Certificate Authority Service SVG Vector" title="Certificate Authority Service SVG Vector">
        </div>
        <div class="subapp-name">
          Phân quyền
        </div>
      </div>
    </div>

  </div>
</div>
<notifier-container></notifier-container>