<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row
      style="background-size: cover;
    background-repeat: no-repeat;justify-content: space-between;background-image: url(../../../assets/img/header-bg.jpg);">

      <div class="d-flex menu-left h-100">
        <a routerLink="/page" class="" style="padding: 10px;">
          <!---->
          <img src="../../../assets/img/logo.png" height="37px" style="margin-top: 10px;margin-right: 10px;"
            title="Home" alt="Home" class="">
          <!---->
        </a>
        <a routerLink="/" class="link-icon menu-left-link active header-a" (click)="changActive($event)">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Trang chủ
        </a>
        <a id="QuanLyDanhMucLink" class="link-icon header-a" #createPlanmenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu" (click)="createPlanmenuTrigger.openMenu()" (click)="changActive($event)">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">layers</mat-icon>
          Quản lý kho
          <mat-menu #menu="matMenu">
            <span data-active="QuanLyDanhMucLink" (click)="createPlanmenuTrigger.closeMenu()">
              <a (click)="changActive($event)" routerLink="/wh/warehouse-book" mat-menu-item>Quản lý sổ kho</a>
              <a (click)="changActive($event)" routerLink="/wh/warehouse-limit" mat-menu-item>Định mức tồn kho</a>
              <a (click)="changActive($event)" routerLink="/wh/warehouse-benging" mat-menu-item>Tồn kho đầu kì</a>
            </span>

          </mat-menu>
        </a>

        <a id="QuanLyDanhMucLinkTwo" #createPlanmenuTriggerDanhMuc="matMenuTrigger" [matMenuTriggerFor]="menuDanhMuc"
          (click)="createPlanmenuTriggerDanhMuc.openMenu()" class="link-icon header-a" (click)="changActive($event)">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">playlist_add_check</mat-icon>
          Danh mục
          <mat-menu #menuDanhMuc="matMenu">
            <span data-active="QuanLyDanhMucLinkTwo" (click)="createPlanmenuTriggerDanhMuc.closeMenu()">
              <a (click)="changActive($event)" routerLink="/wh/warehouse" mat-menu-item>Kho vận</a>
              <a (click)="changActive($event)" routerLink="/wh/warehouse-item" mat-menu-item>Vật tư</a>
              <a (click)="changActive($event)" routerLink="/wh/warehouse-item-category" mat-menu-item>Loại vật tư</a>
              <a (click)="changActive($event)" routerLink="/wh/vendor" mat-menu-item>Nhà cung cấp</a>
              <a (click)="changActive($event)" routerLink="/wh/unit" mat-menu-item>Đơn vị tính</a>
            </span>

          </mat-menu>
        </a>

        <a id="QuanLyReport" #createPlanmenuTriggerReport="matMenuTrigger" [matMenuTriggerFor]="menuReport"
          (click)="createPlanmenuTriggerReport.openMenu()" class="link-icon header-a" (click)="changActive($event)">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">list</mat-icon>
          Báo cáo
          <mat-menu #menuReport="matMenu">
            <span data-active="QuanLyDanhMucLinkTwo" (click)="createPlanmenuTriggerReport.closeMenu()">
              <a (click)="changActive($event)" routerLink="/wh/report-total" mat-menu-item>Báo cáo tổng hợp</a>
              <a (click)="changActive($event)" routerLink="/wh/report-details" mat-menu-item>Báo cáo chi tiết</a>
            </span>

          </mat-menu>
        </a>

      </div>
      <div class="d-flex menu-left h-100">
        <a class="link-icon notication-a" style="position: relative;" (click)="showNotication()">
          <span class="count-notication ">{{getCount()}}</span>
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">notifications_none</mat-icon>
          Thông báo
        </a>
        <a class="link-icon" target="_blank" href="https://github.com/ckem1st997/DoAnTotNghiep">
          <i class="bi bi-github icon-link"></i>
          GitHub
        </a>
        <a class="link-icon">
          <i class="bi bi-bar-chart icon-link"></i>
          {{ networkStatus ? 'Online' : 'Office' }}
        </a>
        <a class="link-icon">
          <i class="bi bi-hdd-network icon-link"></i>
          {{speedTest}} Mbps
        </a>
        <a id="QuanLyReport" #createPlanmenuTriggerLogin="matMenuTrigger" [matMenuTriggerFor]="menuLogin"
          (click)="createPlanmenuTriggerLogin.openMenu()" class="link-icon header-a" (click)="changActive($event)">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">login</mat-icon>
          Tài khoản
          <mat-menu #menuLogin="matMenu">
            <span data-active="QuanLyDanhMucLinkTwo" (click)="createPlanmenuTriggerLogin.closeMenu()">
              <a mat-menu-item>{{userName}}</a>
              <a (click)="changActive($event)" (click)="logout()" mat-menu-item>Đăng xuất</a>
            </span>

          </mat-menu>
        </a>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="activeNoticaonList" class="notication-list">
    <h1 class="notication-title" style="padding: 10px;">Thông báo</h1>
    <!-- <div class="notication-button-select">
      <button style="    margin-left: 18px;" mat-raised-button color="primary">Tất cả</button>
      <button style="margin-left: 10px;" mat-raised-button color="accent">Chưa đọc</button>
    </div> -->
    <div class="notication-list-show" style="margin-top: 10px;    border-top: 1px solid #9d9999;">
      <div class="notication-before margin-left-18" style="margin-bottom: 10px;">
        <h2>Mới</h2>
        <div class="notication-card">
          <i class="bi bi-newspaper notication-icon color-new"></i>
          <div class="notication-card">

            <div class="notication-list-card">
              <div class="notication-list-card-title">
                Tài khoản <strong>{{listBefor.userName}}</strong> {{listBefor.body}}
              </div>
              <div class="notication-list-card-time">
                {{GetDateTime(listBefor.createDate)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notication-after margin-left-18">
        <h2>Trước đó</h2>

        <div class="notication-card" *ngFor="let item of listAfter">
          <i *ngIf="CheckMethod(item.method)==1" class="bi bi-terminal notication-icon color-create"></i>
          <i *ngIf="CheckMethod(item.method)==2" class="bi bi-bezier2 notication-icon color-update"></i>
          <i *ngIf="CheckMethod(item.method)==3" class="bi bi-cart-x-fill  notication-icon color-delete"></i>

          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>{{item.userName}}</strong> {{item.body}}
            </div>
            <div class="notication-list-card-time">
              {{GetDateTime(item.createDate)}}
            </div>
          </div>
        </div>
        <!-- <div class="notication-card">
          <i class="bi bi-bezier2 notication-icon color-update"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa sửa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-cart-x-fill notication-icon color-delete"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa xóa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-terminal notication-icon color-create"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa thêm mới phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-bezier2 notication-icon color-update"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa sửa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-cart-x-fill notication-icon color-delete"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa xóa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-terminal notication-icon color-create"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa thêm mới phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-bezier2 notication-icon color-update"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa sửa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-cart-x-fill notication-icon color-delete"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa xóa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>        <div class="notication-card">
          <i class="bi bi-terminal notication-icon color-create"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa thêm mới phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-bezier2 notication-icon color-update"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa sửa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-cart-x-fill notication-icon color-delete"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa xóa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>        <div class="notication-card">
          <i class="bi bi-terminal notication-icon color-create"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa thêm mới phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-bezier2 notication-icon color-update"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa sửa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div>
        <div class="notication-card">
          <i class="bi bi-cart-x-fill notication-icon color-delete"></i>
          <div class="notication-list-card">
            <div class="notication-list-card-title">
              Tài khoản <strong>admin@gmail.com</strong> vừa xóa phiếu nhập kho
            </div>
            <div class="notication-list-card-time">
              10 giờ trước
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</header>